{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
 {% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/styles.css')}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 {% endblock %}
{% block body %}
<div class="banner-ecom">
  <form class="form-ecom" method="post">
      {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
          <div class="mb-3">
              You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
          </div>
      {% endif %}

      <h1 class="h3 mb-3 font-weight-normal form-title ">Welcome to E-Shoppy</h1>
      <label class="form-label" for="inputUsername">Username</label>
      <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
      <label class="form-label" for="inputPassword">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" required>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

      
    

          <div class="checkbox mb-3">
              <label class="form-label">
                  <input type="checkbox" name="_remember_me"> Remember me
              </label>
          </div>
    

      <button class="btn btn-lg btn-primary" type="submit">
        Sign in
        
      </button>
  </form>
</div>
{% endblock %}
