body {

  margin: 0; 
padding: 0; 

}

li {

  list-style: none; 
  display: flex; 
  flex-direction: row; 
}

.navcontainer {
  display: flex; 
  flex-direction: row; 
}

/* LINK OF NAVIGATION */
.navcontainer a {
 color: white; 
  text-decoration: none; 
}
.navcontainer:hover a {

  cursor: pointer; 
  text-decoration: none; 
}


.tableback {

  background-color: #F1F1F1; 
}
.list {

  background-color: #FFF; 
  
 
}
.table {
   border-collapse: separate;
    border-spacing:0 20px;
}


.firstname {
  font-family: "arial";
  font-weight: bold;
 margin: 0; 
  font-size: 20px; 
}

.lastname { 
  font-family: "arial";
  font-weight: bold;
  margin: 0; 
  font-size: 18px; 
}
.ecomnav {
background: linear-gradient(0deg, #4B10F1 -15.04%, #6D88F3 -15.04%, #5BB5E7 64.25%, #48FBDB 129.32%);
backdrop-filter: blur(4px);
  height: 100px; 
}
.titlenav {

  padding-top: 20px; 
  font-family: "arial"; 
  color: white; 
  font-size: 20px; 
  font-weight: bold; 
  margin-left: 50px; 
}

.titlenav:hover {

  padding-top: 20px; 
  font-family: "arial"; 
  color: white; 
  font-size: 30px; 
  font-weight: bold; 
  border-bottom: 8px solid #48FBDB; 
}

.form-container {
  height: 100px; 
  background-color: #F1F1F1;
  display: flex; 
  flex-direction: column;
}

.backgroundUser {
width: 100%; 
/* height: 100vh;  */
/* background: linear-gradient( #584b88, #ae4bcf);  */
  background-color: #efefef; 
display: flex; 
justify-content: center;
  align-items: center;
}

/* .product-container {

width: 100%; 
height: 300px; 
background-color: blue; 
} */



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.product-img {
  width: 100%;
  height: 100%; 
}

.card {
padding: 0 !important; 
margin-left: 20px; 
margin-top: 20px; 
}

.container-product {

  width: 100%; 
  height: 100vh; 
  background-color: #efefef; 
align-items: center; 
   display: flex; 
  justify-content: center; 
}

.img-container {

  height : auto; 
  overflow: hidden;
}

.row {

  justify-content: center;
}
  .card-title {
  font-weight: bold; 
  }

.banner-ecom {
  width: 100%; 
  height: 100vh; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)
),url('https://source.unsplash.com/u79wy47kvVs'); 
  background-repeat: no-repeat; 
  background-position: 20% 30%;
  background-size: 120%; 
  display: flex; 
  justify-content: center;
align-items: center; 
}

.form-ecom {
  
  width: 300px; 
}

.form-title {
  color: white; 
  font-weight: black !important; 
}

.form-label {
  color: white; 
}