{% extends 'base.html.twig' %}
 {% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/styles.css')}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% endblock %}
{% block body %}

     
        <form class="form-control " action="{{path('save_customer',{'id':customer.id})}}" method="POST">
          <label>First Name</label>
          <input type="text" name="firstname"required/>
          <label>Last name</label>
          <input type="text" name="lastname"required/>
          <label>City</label>
          <input type="text" name="city"required/>
          <label>Country</label>
          <input type="text" name="country"required/>
          <label>adress</label>
          <input type="text" name="address"required/>
          <label>mail</label>
          <input type="text" name="mail" required/>
          <button type="submit">Sumit</button>
        </form>
      
    
 {% endblock %}