{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}
  {% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/styles.css')}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% endblock %}
{% block body %}

 <nav class="ecomnav">
    <ul class="navcontainer"> 
      <li class="titlenav"> <a href={{path("customer")}}> Customer </a></li>
      <li class="titlenav"> <a href={{path("product")}}>Products </a> </li>
      <li class="titlenav"> <a href={{path("sale_product")}}>Sale Products </a> </li>
    </ul>
  </nav>

  <form method="POST" action={{path("search_customer")}}> 

    <label>Customer name : </label>
    <input type="text" name="firstname"> 
    <button type="submit" class="btn btn-primary"> Search </button>
  </form>





<table class="table table-responsive-sm">
  {% for customer in customers %}
    <tr class="list">
      <td class="name">
        <p class="firstname">{{customer.firstname}}</p>
        <p class="lastname"> {{customer.lastName}} </p>
      </td>
      <td>
        <p> {{customer.city}} </p>
        <p>{{customer.country}}</p>
      </td> 
      <td>
        <p>{{customer.address}}</p>
        <p>{{customer.mail}}</p>
      </td>
      <td> <a href="{{path('save_customer', {'id': customer.id})}}"> Edit </a></td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
