{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}
 
    {% block stylesheets %} 
      <link rel="stylesheet" href="{{asset('css/styles.css')}}"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      {% endblock %}

{% block body %}

  <nav class="ecomnav">
    <ul class="navcontainer">
      <li class="titlenav"> <a href={{path("default")}}> Customer </a> </li>
      <li class="titlenav">  <a href={{path("product")}}> Products </a> </li>
    </ul>
  </nav>
  <div class="tableback">
    <table class="table table-responsive-sm">      
        {% for customer in customers  %}
        <tr class="list">
   
          <td class="name">
            <p class="firstname">{{customer.firstName}} </p>
            <p class="lastname">{{customer.lastName}}</p> 
            <p>{{customer.mail}}</p>
          </td>
          <td> {{customer.addresses}} {{customer.city}} </br> {{customer.country}}</td>
          <td> {{customer.tel}}</td>
        </tr>
        {% endfor %}
    </table>
  </div>

{% endblock %}
