{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}
 {% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/styles.css')}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% endblock %}
{% block body %}

<nav class="ecomnav">
  <ul class="navcontainer"> 
    <li class="titlenav"> <a href={{path("customer")}}> Customer </a></li>
    <li class="titlenav"><a href={{path("product")}}> Products </a> </li>
    <li class="titlenav">  <a href={{path("sale_product")}}>Sale Products </a> </li>
  </ul>
</nav>

<div class="form-group">
  <form action={{path("save_product")}} method="POST">
    <label>Name product</label>    
    <input class="form-control"  type="text" name="productname" required/>
    <label>Description : </label>
    <input class="form-control" type="text" name="description" required/>
    <label>Price : </label>
    <input class="form-control" type="text" name="price" required/>
    <label>Supplier : </label>
    <input class="form-control form-control-sm"  type="text" name="supplier" required/>
    <label>Website : </label>
    <input class="form-control"  type="text" name="website" required/>
    <label>Quantity : </label>
    <input class="form-control"  type="text" name="quantity" required/>
    <button class="btn btn-primary" type="sumit"> Add Product </button>
  </form>
</div>


<table class="table table-responsive-sm">
  {% for prod in products %}
    <tr class="list">
      <td class="name">
        <p class="firstname">{{prod.name}}</p>
      </td>
      <td>
        <p> {{prod.description}} </p>
      </td>
      <td>
        <p>{{prod.price}}</p>
      </td> 
      <td> <p>{{prod.supplier}}</p></td>
      <td>
        <p>{{prod.webSiteSupplier}}</p>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
