{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}
 {% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/styles.css')}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 {% endblock %}

{% block body %}

<nav class="ecomnav">
  <ul class="navcontainer"> 
    <li class="titlenav"><a href={{path("home")}}> Logout </a> </li>
  
  </ul>
</nav>

<div class="backgroundUser">
  <div class="container">
 <table class="table table-responsive-sm">
  {% for b in basket %}
    <tr class="list">
      <td class="name">
        <p class="firstname">{{b.id}}</p>
      </td>

      <td>
        <p> {{b.quantity}} </p>
      </td>
      <td><p>{{b.color}}</p></td>
      <td>
        <p>{{b.totalSales}}</p>
      </td> 
      {# <td> <p>{{b.date}}</p></td> #}
     
    </tr>
  {% endfor %}
</table>
  </div>
</div>
{% endblock %}
