{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}
 {% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/styles.css')}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 {% endblock %}

{% block body %}

<nav class="ecomnav">
  <ul class="navcontainer"> 
  {% if is_granted('ROLE_ADMIN') %}
    <li class="titlenav"> <a href={{path("customer")}}> Customer </a></li>
    <li class="titlenav"><a href={{path("product")}}> Products </a> </li>
    <li class="titlenav"><a href={{path("sale_product")}}> Sale Products </a> </li>
  {% endif %}
    <li class="titlenav"><a href={{path("home")}}> Logout </a> </li>
  </ul>
</nav>

<div class="backgroundUser">

  <div class="container">
    <div class="row"> 
        
        {% for p in prod %}
        <div class=" d-flex card col-md-3 col-sm-4">
          <div class="img-container">
            <img class="card-img-top" src="{{p.imagelink}}"/>
          </div>
          <div class="h-50 card-body">
            <h5 class="card-title"> {{p.name}}</h5>
            <p> {{p.price}}</p>
            <button class="btn btn-primary"><a href="{{path('view_product', {'id':p.id})}}"> view product</a></buttton>
          </div>
        </div>
        {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
