{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}
 {% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/styles.css')}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 {% endblock %}

{% block body %}

<nav class="ecomnav">
  <ul class="navcontainer"> 
    <li class="titlenav"><a href={{path("home")}}> Logout </a> </li>
    {# <li class="titlenav"> Basket {{basket.quantity}} </li>  #}
  </ul>
</nav>

<div class="backgroundUser">

  <div class="container">
    <div class="row"> 
      <p>{{prod.id}}</p>

        <div class=" col-lg-12">
          <div class="img-container">
            <img class="card-img-top" src="{{prod.imagelink}}"/>
          </div>
          <div class="h-50 card-body">
            <h5 class="card-title"> {{prod.name}}</h5>
            <p> {{prod.price}} euros</p>

            <form method="POST" action="{{path('save_basket', {'id': prod.id})}}">

              <select name="color" >
                <option value="">--Color--</option>
                {%  for v in variant %}
                <option name="choice" value='{{v.name}}'>{{v.name}}</option>
               {%  endfor %}
              </select>
 
              <input type="number" name="quantity" />
              <button class="btn btn-primary" type="submit">Add to Basket</button>
            </form>
            {# <div>
                <p>{{basket.totalSales}}</p>
                <p>{{basket.quantity}}</p>
            </div>            #}

          </div>
        </div>
    
    </div>

  </div>
  </div>
</div>
{% endblock %}
