{% extends 'base.html.twig' %}

{% block title %}Hello SaleProductController!{% endblock %}
 {% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('css/styles.css')}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% endblock %}
{% block body %}


<nav class="ecomnav">
    <ul class="navcontainer"> 
      <li class="titlenav"> <a href={{path("customer")}}> Customer </a></li>
      <li class="titlenav"><a href={{path("product")}}> Products </a> </li>
      <li class="titlenav"><a href={{path("sale_product")}}> Sale Products </a> </li>
    </ul>
  </nav>


<form method="GET" action={{path("findbycolor")}}>
  <select name="color">
    <option value="">--Please choose an option--</option>
    <option value="blue">blue</option>
    <option value="yellow">yellow</option>
  </select>
  <button type="submit"> Search </button>
</form>

<table class="table table-responsive-sm">
  {% for sale in sales %}
    <tr class="list">
      <td class="name">
        <p class="firstname">{{sale.product}}</p>
      </td>

      <td>
        <p> {{sale.color}} </p>
      </td>
      <td>
        <p>{{sale.quantity}}</p>
      </td> 
      <td> <p>{{sale.sale}}</p></td>
     
    </tr>
  {% endfor %}
</table>
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link"> {{ knp_pagination_render(sales) }}</a>
      </li>
    </ul>
  </nav>
{% endblock %}
